@model Pizza
@{
    ViewData["Title"] = "details";
    var pizza = Model;
}

<div class="container">
    <h2 class="title">@pizza.Name</h2>
    <div class="flex-detail">
        <img src="/img/@pizza.Image" style="height:400px;">
        <div>
            <p><b>Descrizione: </b>@pizza.Description</p>
            <p><b>Prezzo: </b>@pizza.Price €</p>

        </div>
    </div>
</div>
